@import url('https://fonts.googleapis.com/css?family=Shizuru&display=swap');
body {
  margin: 0;
  font-family: 'Shizuru';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


